<div class="col-lg-8">  <!-- この行を追加 -->
      <table class="table table-striped">
        <h1>Book detail</h1>
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
        <%= link_to @user.name, user_path(@user.id) %>
        <%= link_to @book.title, user_path(@user.id) %>
      </table>
</div>
