    <% flash.each do |message_type, message| %>
      <%= message %>
    <% end %>
<body>
<div class="row justify-content-center">
  <div class="col-lg-6 offset-lg-1">
    <h1 class="pt-3">welcome to <b><i class="fas fa-book"></i>Bookers</b> !!</h1>
      <p class="pt-1">In <b><i class="fas fa-book"></i>Bookers</b>,</p>
      <p class="pt-1">you can share and exchange your opinions , inpressions , and emotions</p>
      <p class="pt-1">about various books!</p>
    <div class="center-block pb-3 col-lg-8">
      <%= link_to 'Log in', new_user_session_path, class: "btn btn-info mx-auto d-block btn-sm" %>
    </div>
    <div class="center-block pb-3 col-lg-8">
      <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success mx-auto d-block btn-sm" %>
    </div>
  </div>
</div>
</body>